.card-service .card-info {
  height: 350px;
  overflow-y: hidden;
  transition: all 1s linear;
}

.nav-style .nav-item .nav-link{
  background-color: white;
  padding: 10px 50px;
  border-radius: 20px !important;
  color: black !important;
  margin: 10px;
}
.nav-style .nav-item .active{
background: rgba(255, 61, 36, 0.6) !important;
color: white !important;
border: none !important;
}


